.card {
  background-color: #222831;
  height: 25rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #fefefe;
}

.card__info {
  display: flex;
  margin-top: 4px;
}

.info__label {
  font-weight: bolder;
  align-items: flex-start;
}

.info__value {
  text-align: right;
  flex: 1;
  margin-left: 20px;
}

.add__cart {
  text-align: center;
}

.cart__button {
  color: #fff;
  border-color: #ec8f6a;
  background: #ec8f6a;
  text-align: center;
  vertical-align: middle;
  padding: 12px 16px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 16px;
}

.cart__button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}
